.btn-install {
    position: absolute;
width: 190px;
height: 49.74px;
line-height: 25px;
background: #F62369;
border-radius: 16px;
 color: #ffffff;
 font-size: 25px;
 font-weight: 700;
 padding: 6px 25px;
 @apply animate-zoomInOut;

}